<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <!-- <a href="D:\develop\myHomePage\gallery\assets\images\fulls\01.jpg"
    class="image">
    <img src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg"
      alt="" loading="lazy"/>
      
  </a> -->
  <!-- <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\01.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\02.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\02.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\03.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\04.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\05.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\06.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\07.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\08.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\09.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\10.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\11.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\12.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\13.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\14.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\15.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\16.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\17.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\18.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\19.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\20.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\21.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" />
   <img data-src="D:\develop\myHomePage\gallery\assets\images\fulls\22.jpg"
   src="D:\develop\myHomePage\gallery\assets\images\thumbs\01.jpg" class="lazyload" /> -->

   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\01.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\02.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\03.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\04.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\05.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\06.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\07.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\08.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\09.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\10.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\11.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\12.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\13.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\14.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\15.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\16.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\17.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\18.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\19.jpg" loading="lazy" width="1000" height="1000"/>
   <img src="D:\develop\myHomePage\gallery\assets\images\fulls\20.jpg" loading="lazy" width="1000" height="1000"/>

   

</body>
<script src="D:\develop\myHomePage\gallery\assets\js\lazysizes.min.js" async></script>

</html>