<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " zh-CN" }}">

{%- include head.html -%}



<body class="is-preload">


  <div id="wrapper">

    {%- include header.html -%}

    <div id="main">
      {%- include sakana.html -%}


      {% for image in site.images %}

      <article class="thumb">
        <a href="{{site.baseurl}}/assets/images/fulls/{{ image.path | split: '/' | last | split: '.' | first }}.jpg"
          class="image">
          <!-- <img src="{{site.baseurl}}/assets/images/thumbs/{{ image.path | split: '/' | last | split: '.' | first }}.jpg"
            alt="{{ image.title }}" loading="lazy"/> -->
            {% include img.html base=site.baseurl src=image.path alt=image.title %}

            
        </a>

        <h2>{{ image.title }}</h2>
        <p>{{ image.caption }}</p>


      </article>
      {% endfor %}

      <!-- {%- include paginator.html -%} -->




      <!-- no idea where to put this... -->
      <!-- {{ content }} -->

    </div>
    
    {{ paginator.total_pages }}
    <!-- {% if paginator.total_pages > 1 %} -->
    <div class="pagination">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
      {% else %}
      <span>&laquo; Prev</span>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
      <em>{{ page }}</em>
      {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
      {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
      {% else %}
      <span>Next &raquo;</span>
      {% endif %}
    </div>
    <!-- {% endif %} -->


    {%- include footer.html -%}
    <div class="comment">
      <script src="https://giscus.app/client.js" data-repo="ZoZou02/gallery" data-repo-id="R_kgDOMnrAtQ"
        data-category="Show and tell" data-category-id="DIC_kwDOMnrAtc4Ch9O7" data-mapping="pathname" data-strict="0"
        data-reactions-enabled="1" data-emit-metadata="0" data-input-position="top" data-theme="noborder_gray"
        data-lang="zh-CN" crossorigin="anonymous" async>
        </script>
    </div>


  </div>

  <script src="{{ 'assets/js/lazysizes.min.js' | relative_url }}" async></script>
  <script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/jquery.poptrox.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/util.js' | relative_url }}"></script>
  <script src="{{ 'assets/js/main.js' | relative_url }}"></script>


</body>

</html>